{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
  <link rel="stylesheet" href="{% static "challenges/partials/header.css" %}">
{% endblock %}

{% block page_title %}
  {{ month|title }} Challenge
{% endblock %}

{% block content %}
  {% include "challenges/partials/header.html" %}

  <h1>{{ month|title }}'s Challenge</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <p>NO CHALLENGE SET YET</p>
  {% endif %}
{% endblock %}